// Fuente principal
$main-font: 'Raleway', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$cursive-font: 'Bona Nova', sans-serif;

// Colores
$color-primary: #5E311E;
$color-primary-light: #EBE7DE;
$color-secondary: #C39C63;
$color-black: #000;
$color-white: #FFF;
$color-gray-light: #ECEEEF;

// Media queries
$phone: 30em;
$tablet: 48em;
$desktop: 64em;

// Units
$general-gap: 5rem;