@use 'base/variables' as v;
@use 'base/mixins' as m;

.contact {

  @include m.tabletSize {
    @include m.grid( 2, v.$general-gap );
    background-image: url(../img/granos_cafe.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 40%;
  }

}

.form {

  &__field {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }

    label {
      text-transform: uppercase;
      display: block;
      font-size: 2rem;
      font-weight: 700;
    }

    input:not([type="submit"]),
    select {
      width: 100%;
      padding: 1rem;
      border: .5rem solid v.$color-primary;
      font-family: inherit;
    }

    input[type="submit"] {
      font-family: inherit;
      background-color: v.$color-primary;
      color: v.$color-white;
      width: 100%;
      border: none;
      padding: 1rem;
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: 700;
      
      &:hover {
        cursor: pointer;
      }

    }

  }
  
}