@use 'base/variables' as v;
@use 'base/mixins' as m;

.section__menu {

  background-image: url(../img/cafe.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
  // Por cada 3 pixeles horizontales quiero ocho verticales
  aspect-ratio: 3 / 4;
  
  @include m.tabletSize {
    @include m.grid( 2, 2rem );

    aspect-ratio: 16 / 6;
    background-size: 40%;
    background-position: bottom right;
  }

  &__text {
    p {
      font-size: 2rem;
    }
  }

}