@use 'base/variables' as v;
@use 'base/mixins' as m; 

.process {

  margin-bottom: v.$general-gap;

  &:last-of-type {
    margin-bottom: 0;
  }

  @include m.tabletSize {
    display: flex;
    gap: v.$general-gap;
    align-items: center;
  }

  &__image {
    flex: 1;
  }


  &__text {

    flex: 1;

    h3 {
      margin: 2rem 0;
      text-align: left;
      color: v.$color-primary;

      &::after {
        content: '';
        display: block;
        width: 50%;
        height: 5px;
        background-color: v.$color-secondary;
      }

    }

  }

  &:nth-child( even ) {
    
    .process__image {
      order: 1;
    }
  
  }

}