@use 'base/variables' as v;
@use 'base/mixins' as m;

.us {

  @include m.tabletSize {
    @include m.grid ( 2, 3rem );
  }

  &__image {

    margin-bottom: 8rem;

    @include m.tabletSize {
      margin-right: 2rem;
      margin-bottom: 0;
    }

    img {
      transform: rotate(-6deg);
      border: 3rem solid v.$color-white;
      box-shadow: 9px 10px 5px -7px rgb( 0, 0, 0, 0.35);
    }

  }

  &__text {

    blockquote {
      padding: 1rem;
      margin: 3rem 0;
      font-size: 2rem;
      border-left: .5rem solid v.$color-primary;
    }

  }

}