@use "base/variables" as v;
@use "base/mixins" as m;

.main__container {
  background-color: v.$color-white;
  padding: 5rem 3rem;
  max-width: 90%;

  @include m.tabletSize{ 
    padding: 10rem;
    margin-top: -10rem;
    position: relative;
  }

}